.blog1, .blog3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.blog1 {
    background-image: url('./images/Blog-Section/Coffee-Beans.jpg');
}
.blog3 {
    background-image: url('./images/Blog-Section/shore-coffee.jpg');
}

.vanilla-image {
    width: 60%;
    height: 66%;
    border-radius: 20px;
}

.span {
    color: #FFB658;
}

.first-blog {
    color: white;
}
.first-blog > a, .health {
    color: #71E26F;
    
}

.first-blog > h2 {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 45px;
}
.first-blog > p {
    font-family: 'Roboto', sans-serif;
}
.blog-image {
    width: 380px;
    height: 200px;
}
.context {
    flex: 1;
}

.blog3-headline {
    width: 50vw;
    height: 100vh;
    padding-top: 10%;
}

.blog3-headline > h1{
    font-size: 64px;
    font-family: 'Roboto Serif', sans-serif;
    color: #FFFFFF;
    padding-left: 30px;
}

.blog3-headline > p{
    font-size: 20px;
    font-family: 'Roboto Serif', sans-serif;
    color: #FFFFFF;
    padding-left: 33px;
}