* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage-description {
    background-image: url('./images/Home-page/landing-page1.jpg');
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: cover;
    height: 100vh;
    color: #f6f4f4;
}

.description {
    height: 100%;
    width: 50%;
}

.description em {
    color: #71E26F;
} 

.description h1 {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 4.7vw;
}
.description p {
    font-family: 'Roboto Serif', sans-serif;
    margin-top: 1.6vh;
    font-size: clamp(10px, 1vw, 18px);
    font-weight: lighter;
}

.section2 {
    margin: 12% 0 12% 0;
}
.section2 h3 {
    color: #484848;
}

.section2 h3 {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 2vw;
}

.section3 h1, .section4 h1, .section5 h1{
    color: white;
    font-size: 7vw;
    font-family: 'Roboto Serif';
}

.section3 h4,  .section4 h4, .section5 h4 {
    color: #47ed44;
    font-size: 2.3vw;
}

.section3 {
    background-image: url('./images/Carousel-2/pexels-pixabay-47316.jpg');
    z-index: 0;
    
}
.section4 {
    background-image: url('./images/Carousel-2/pexels-miriam-alonso-7592472.jpg');
    z-index: 3;
}
.section5 {
    background-image: url('./images/Carousel-2/pexels-ron-lach-8844583.jpg');
    z-index: 5;
}

.section3, .section4, .section5 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.section6 h1 {
    color: #FFB658;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 2.9vw;
}

.section6 h4 {
    font-family: 'Roboto Serif';
    font-weight: lighter;
    font-size: 1.7vw;
}

.images {
    width: 13vw;
    height: auto;
}

.footer-content {
    height: 22vh;
    z-index: 100;
    border: 1px green solid;
}

footer {
    background-color: #6A6D6A;
}

.footer-content img {
    height: 80px;
    width: auto;
}

.icons {
    width: 50vw;
}
.icons > i {        
    color: white;  
}

.icons > i:hover {
    background-color: #6e9c6d;
}
.facebook, .instagram, .youtube, .linkedin {
    
    padding: 3px 12px 3px 12px;
    background-color: #5c5c5c;
    border-radius: 100%;
}
@media only screen and (max-width: 600px){
    .section3 {
        height: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .homepage-description {
        width: 100vw;
        height: 50vh;
        margin-top: 95px;
    }
    .homepage {
        overflow: hidden;
    }
    .section3, .section4, .section5{
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 1200px){
    .homepage-description {
        width: 100vw;
        height: 50vh;
        margin-top: 95px;
    }
    .section3, .section4, .section5 {
        width: 100vw;
        height: 60vh;
    }

}