* {
    margin: 0;
    padding: 0;
}

.homepage-description {
    background-image: url('./images/Home-page/landing-page1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #FFFFFF;
}

.description h1 {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 64px;
}
.description p {
    font-family: 'Roboto Serif', sans-serif;
}
.description {
    height: 100vh;
    width: 50%;
}

.section2 {
    margin: 15% 0 15% 0;
}

.section2 h3 {
    font-family: 'Roboto Serif', sans-serif;
}

.section3 h1, .section4 h1, .section5 h1{
    color: white;
    font-size: 120px;
    font-family: 'Roboto Serif';
}

.section3 h4,  .section4 h4, .section5 h4 {
    color: #FFB658;
}

.section3 {
    background-image: url('./images/Carousel-2/pexels-pixabay-47316.jpg');
    z-index: 0;
    
}
.section4 {
    background-image: url('./images/Carousel-2/pexels-miriam-alonso-7592472.jpg');
    z-index: 3;
}
.section5 {
    background-image: url('./images/Carousel-2/pexels-ron-lach-8844583.jpg');
    z-index: 5;
}

.section3, .section4, .section5 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.section6 h1 {
    color: #FFB658;
    font-family: 'Roboto Serif', sans-serif;
}

.section6 h4 {
    font-family: 'Roboto Serif';
    font-weight: lighter;
}

.footer-content {
    height: 30vh;
    z-index: 100;
    border: 1px green solid;
}

footer {
    background-color: #6A6D6A;
}

.footer-content > img {
    height: 115px;
}

.icons {
    width: 50vw;
}
.icons > i {
    color: white;  
}

.facebook, .instagram, .youtube {
    padding-right: 65px;
    border-right: 2px white solid;
} 


