.homepage {
    background-image: url('./images/Home-page/landing-page1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    position: relative;
    height: 100vh;
}

.homepage-description {
    position: absolute;
    background-color: rgba(86, 85, 85, 0.35);
    color: #FFFFFF;
    height: 85.7vh;
    width: 50%;
    top: 0;
}

.description{
    position: absolute;
    top: 30%;
    left: 4%
}
.description h3 {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 3.5em;
}
.description p {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 1.2em;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30vh;
    background-color: white;
    top: 87vh; 
}

.section2 h3 {
    font-family: 'Roboto Serif', sans-serif;
    
}
